<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <h1>Edit Item</h1>
    <form action="/restUser/<%= restUser.id %>/<%= item.id %>/edit" method="post">
       Item Name <input type="text" name="name" value="<%= item.name %>">
       Price(Rupees) <input type="text" name="price" value="<%= item.price %>">
       Preparation Time <input type="" name="prepTime" value="<%= item.prepTime %>">
       <input type="submit" value="Edit Item">
    </form>
</body>
</html>