<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= restUser.name %> 's Homepage</title>
    <link rel="stylesheet" href="/test.css">
</head>
<body>
    <h1><%= restUser.name %> 's Homepage</h1>
   <!-- <h1>Restraunt Page</h1> -->
   <a href="/restUser/<%= restUser._id %>/<%= restUser.name%>/add"><button>Add Items</button></a> 
   <h1>Menu Items</h1>
   <% restUser.items.forEach(function(item){ %>
    <div class="card">
     <ul>
         <li><%= item.name %></li>
         <li><%= item.price %></li>
         <li><%= item.prepTime %></li>
     </ul>
    </div>
  <% }) %>
</body>