<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   Welcome <%= user.name %> <br>
    Enjoy something delicious today
</h1> 
<h2>Choose from below restaurants</h2>
<% restUsers.forEach((restUser)=>{ %>
    <div class="card">
     <ul>
         <li><%= restUser.name %></li>
         <li><%= restUser.address %></li>
         <li><form action="/user/<%= user.id %>/<%= restUser.id %>/<%= restUser.name %>/menu" method="get">
             <button type="submit">Select</button>
         </form></li>
        </ul>
</div>
<% });%>
</body>
</html>